[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
alembic = "==0.9.8"
"aniso8601" = "==2.0.0"
babel = "==2.5.3"
bcrypt = "==3.1.4"
blinker = "==1.4"
cffi = "==1.11.4"
click = "==6.7"
defusedxml = "==0.5.0"
django = "==2.2.10"
flask = "==1.0.2"
flask-bcrypt = "==0.7.1"
flask-login = "==0.4.1"
flask-mail = "==0.9.1"
flask-migrate = "==2.1.1"
flask-oauth = "==0.12"
flask-openid = "==1.2.5"
flask-pymongo = "==0.5.1"
flask-script = "==2.0.6"
flask-wtf = "==0.14.2"
"httplib2" = "==0.10.3"
itsdangerous = "==0.24"
"jinja2" = "==2.10"
mako = "==1.0.7"
markupsafe = "==1.0"
"oauth2" = "==1.9.0.post1"
pycparser = "==2.18"
pymongo = "==3.6.0"
python-dateutil = "==2.6.1"
python-editor = "==1.0.3"
"python3-openid" = "==3.1.0"
pytz = "==2018.3"
six = "==1.11.0"
sqlalchemy = "==1.2.3"
tornado = "==4.5.3"
werkzeug = "==0.14.1"
Flask-Babel = "==0.11.2"
Flask-RESTful = "==0.3.6"
Flask-SQLAlchemy = "==2.3.2"
WTForms = "==2.1"
shodan = "*"

[requires]
python_version = "3.6"
