alembic==0.9.8
aniso8601==2.0.0
Babel==2.5.3
bcrypt==3.1.4
blinker==1.4
cffi==1.11.4
click==6.7
defusedxml==0.5.0
Django==2.0.2
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-OAuth==0.12
Flask-OpenID==1.2.5
Flask-PyMongo==0.5.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
oauth2==1.9.0.post1
pycparser==2.18
pymongo==3.6.0
python-dateutil==2.6.1
python-editor==1.0.3
python3-openid==3.1.0
pytz==2018.3
six==1.11.0
SQLAlchemy==1.2.3
tornado==4.5.3
Werkzeug==0.14.1
WTForms==2.1
