{% extends "base.html" %}

{% block styled %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shodan.css') }}" />
{% endblock %}

{% block content %}
  <div class="col-lg-12 col-lg-offset=2" style="margin-top: 120px;">
    <h3 class="text-center fontColor">Flask Shodan App.</h3>
	<form method="POST">
	  <div class="col-lg-12">
	    <div class="input-group" style="outline: none;">
		  <input type="text" name="keyword" class="form-control search-input" />
		  <span class="input-group-btn">
		    <button class="btn btn-primary" type="button">Start Search</button>
		  </span>
		</div>
	  </div>
	</form>
  </div>
{% endblock %}
