* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
	background-color: #333333;
}

.wrapper {
	width: 1228px;
	height: 690px;
	margin: 0 auto;
}

.search-box {
	position: absolute;
	top: 200px;
	left: 400px;
}

.search-form {
	float: left;
	background-color: #ffffff;
	padding: 5px;
}

.search-input {
	border: 0;
	float: left;
	height: 25px;
	line-height: 25px;
	outline: none;
	width: 400px;
}

.search-btn {
	border: 0;
	display: block;
	float: left;
	background-image: url('../images/search-icon.png');
	width: 60px;
	height: 29px;
}
